# Obviously, Flask
Flask==1.1.1
werkzeug==0.15

# Application server (for both dev and prod)
gunicorn

# Testing + Static Analysis
pytest
pytest-cov
flake8==2.5.4

# Command line interface
click==7.0

# Static Analysis
bandit

# Debuggging toolbar
flask-debugtoolbar==0.10.1

# Data
psycopg2==2.7.1
Flask-SQLAlchemy
